{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.login }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please login in</h1>
    {{ form_start(form) }}
        <label for="inputLogin">Login</label>
        {{ form_row(form.login) }}
        <label for="inputPassword">Password</label>
        {{ form_row(form.password) }}
    {{ form_end(form) }}

    <a href="{{ path('signin') }}">{{ "signin"|trans }}</a>
{% endblock %}
