{{ form_start(form) }}
    {{ form_widget(form.name) }}
    <ul class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
    </ul>
    <button type="button" class="add_item_link" data-collection-holder-class="pictures">{{ "Add.a.picture"|trans }}</button>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
