{% extends 'product/_base.html.twig' %}
{% set current_user = app.user() %}
{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
    {{ form_start(form_search) }}
        {{ form_row(form_search.name) }}
        {{ form_row(form_search.category) }}
        {{ form_row(form_search.submit) }}
    {{ form_end(form_search) }}
    <div class="table table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Rating</th>
                    <th>Categories</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>
                        {% set image = product.picture ? vich_uploader_asset(product.picture, 'file') : '' %}
                        <img src="{{ image }}"/>
                    </td>
                    <td>
                        {% set rating = product.averageOpinionRating() %}
                        {% include 'opinion/component/c_rating.html.twig' %}
                    </td>
                    <td>
                        {% set category = product.category %}
                        {% include 'product/component/c_category.html.twig' %}
                    </td>
                    <td>
                        <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                        {% endif %}
                        {% set opinion = current_user is not null ? product.opinion(current_user) : null %}
                        {% include 'opinion/component/c_actions.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('product_new') }}">Create new</a>
    {% endif %}
{% endblock %}
