<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="mb-5">
            <nav class="row fixed-top navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <a class="navbar-brand" href="{% block navbar_path %}{{ path("index") }}{% endblock %}">
                    {% block navbar_brand %}
                        <img width="50px" src="{{ asset('build/images/axiologo.png') }}" class="img-fluid align-top" alt="Axiologo">
                    {% endblock %}
                </a>
                <ul class="navbar-nav mr-auto">
                    {% include 'navbar/menu.html.twig' %}
                </ul>
                <div class="d-flex order-lg-1 ml-auto pr-2">
                </div>
            </nav>
        </header>
        <div class="mt-7 container mb-3">
            {% for status, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ status }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>